<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/css/bootstrap-switch-button.min.css"
        rel="stylesheet">
    <script
        src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/dist/bootstrap-switch-button.min.js"></script>
    <link rel="shortcut icon" href="/static/img/flaticon.png" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> <!--To manipulate graphs-->
    <title>LogViewer | Home</title>
</head>

<body>
    <div class="row mt-2">
        <div class="col-sm-6">
            <a href="/"><img id="logo" src="/static/img/logo.png" alt=""></a>
        </div>
        <div class="col-sm-6">
            <div class="togg">
                <form method="POST">
                    <input type="checkbox" id="modeselect" name="modeselect" data-toggle="switchbutton" checked
                        data-onlabel="Static" data-offlabel="Dynamic" data-onstyle="secondary"
                        data-offstyle="secondary">
                </form>
            </div>
        </div>
        <div class="col-sm-12">
            <h1 class="text-center">View Logs</h1>
            <div class="dropdown text-center">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Select File
                </a>

                <ul class="dropdown-menu">
                    {% for item in files %}
                    <li><a id="drpitm" class="dropdown-item" onclick="tbload()"
                            href="{{ url_for('view1', filename=item) }}">{{ item }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <p id="load" style="display:none;">Loading....Please Wait.</p>
            {% if tbl %}
            <div class="tbl">
                {{ tbl | safe }}
            </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <h1 class="text-center">Visualize</h1>

    <!-- -----------------------------First set of plots------------------------------------------------->
    <!-- ------------------------------Plot 1-------------------------------------------------->
    <!-- <div class="container"> -->
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <form id="form1" class="pltform" method="POST">
                    <!-- <div id="cont1" class="container"> -->
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="dropdown text-center">
                                <a class="btn btn-secondary dropdown-toggle mt-2" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Select Parameters
                                </a>
                                <ul id="strtlst1" class="dropdown-menu">
                                    {% for file, cols in cl.items() %}
                                    <li class="dropdown-item">
                                        {{ file }}
                                        {% if uv and file in uv %}
                                        <ul class="dropdown-menu dropdown-submenu">
                                            {% for n in uv[file] %}
                                            <li>
                                                <a class="dropdown-item" href="#">{{ n }}</a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    {% for col in cols %}
                                                    <li>
                                                        <input class="form-check-input" name="unv1"
                                                            value="{{ file }}{{n}}[{{ col }}]" type="checkbox"
                                                            id="{{ file }}_{{ col }}_{{ n }}">
                                                        <label class="form-check-label"
                                                            for="{{ file }}_{{ col }}_{{ n }}">{{ col }}</label>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% else %}
                                        <ul class="dropdown-menu dropdown-submenu">
                                            {% for col in cols %}
                                            <li>
                                                <input class="form-check-input" name="selected_col1"
                                                    value="{{ file }}[{{ col }}]" type="checkbox"
                                                    id="{{ file }}_{{ col }}">
                                                <label class="form-check-label" for="{{ file }}_{{ col }}">{{ col
                                                    }}</label>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="dropdown text-center">
                                <a class="btn btn-secondary dropdown-toggle mt-2" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Select Plot
                                </a>
                                <ul class="dropdown-menu">
                                    <li><input class="form-check-input" value="Scatter" type="radio" name="plt_type1"
                                            id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Scatter
                                        </label>
                                    </li>
                                    <li><input class="form-check-input" value="line" type="radio" name="plt_type1"
                                            id="flexRadioDefault2">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Line
                                        </label>
                                    </li>
                                    <li><input class="form-check-input" value="Histogram" type="radio" name="plt_type1"
                                            id="flexRadioDefault3">
                                        <label class="form-check-label" for="flexRadioDefault3">
                                            Histogram
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4 text-center mt-2">
                            <button class="btn btn-secondary" type="submit">Visualize</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p id="load1" style="display:none;">Loading....Please Wait.</p>
                        </div>
                        <div class="graph mt-2">
                            <div id="fig1-container">
                                {% if fig1 %}
                                {{ fig1 | safe }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </form>
            </div>
        </div>
        <!-- ------------------------------Plot 2----------------------------------------------- -->

        <div class="col-sm-6">
            <div class="row">
                <form id="form2" class="pltform" method="POST">
                    <div id="cont2">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="dropdown text-center">
                                    <a class="btn btn-secondary dropdown-toggle mt-2" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Select Parameters
                                    </a>
                                    <ul id="strtlst2" class="dropdown-menu">
                                        {% for file, cols in cl.items() %}
                                        <li>
                                            <a class="dropdown-item" href="#">{{ file }}</a>
                                            {% if uv and file in uv %}
                                            <ul class="dropdown-menu dropdown-submenu">
                                                {% for n in uv[file] %}
                                                <li>
                                                    <a class="dropdown-item" href="#">{{ n }}</a>
                                                    <ul class="dropdown-menu dropdown-submenu">
                                                        {% for col in cols %}
                                                        <li>
                                                            <input class="form-check-input" name="unv2"
                                                                value="{{ file }}{{n}}[{{ col }}]" type="checkbox"
                                                                id="{{ file }}_{{ col }}_{{ n }}">
                                                            <label class="form-check-label"
                                                                for="{{ file }}_{{ col }}_{{ n }}">{{ col }}</label>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            {% else %}
                                            <ul class="dropdown-menu dropdown-submenu">
                                                {% for col in cols %}
                                                <li>
                                                    <input class="form-check-input" name="selected_col2"
                                                        value="{{ file }}[{{ col }}]" type="checkbox"
                                                        id="{{ file }}_{{ col }}">
                                                    <label class="form-check-label" for="{{ file }}_{{ col }}">{{ col
                                                        }}</label>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="dropdown text-center">
                                    <a class="btn btn-secondary dropdown-toggle mt-2" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Select Plot
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><input class="form-check-input" value="Scatter" type="radio"
                                                name="plt_type2" id="flexRadioDefault4">
                                            <label class="form-check-label" for="flexRadioDefault4">
                                                Scatter
                                            </label>
                                        </li>
                                        <li><input class="form-check-input" value="line" type="radio" name="plt_type2"
                                                id="flexRadioDefault5">
                                            <label class="form-check-label" for="flexRadioDefault5">
                                                Line
                                            </label>
                                        </li>
                                        <li><input class="form-check-input" value="Histogram" type="radio"
                                                name="plt_type2" id="flexRadioDefault6">
                                            <label class="form-check-label" for="flexRadioDefault6">
                                                Histogram
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4 text-center mt-2">
                                <button class="btn btn-secondary" type="submit">Visualize</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p id="load2" style="display:none;">Loading....Please Wait.</p>
                                <div class="graph mt-2">
                                    <div id="fig2-container">
                                        {% if fig2 %}
                                        {{ fig2 | safe }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!-- ------------------------------------------------Second set of plots--------------------------------------------- -->
        <!-- --------------------------------plot3------------------------------------------------------------------------ -->
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <form id="form3" class="pltform" method="POST">
                        <div id="cont3">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="dropdown text-center">
                                        <a class="btn btn-secondary dropdown-toggle mt-2" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Select Parameters
                                        </a>
                                        <ul id="strtlst1" class="dropdown-menu">
                                            {% for file, cols in cl.items() %}
                                            <li>
                                                <a class="dropdown-item" href="#">{{ file }}</a>
                                                {% if uv and file in uv %}
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    {% for n in uv[file] %}
                                                    <li>
                                                        <a class="dropdown-item" href="#">{{ n }}</a>
                                                        <ul class="dropdown-menu dropdown-submenu">
                                                            {% for col in cols %}
                                                            <li>
                                                                <input class="form-check-input" name="unv3"
                                                                    value="{{ file }}{{n}}[{{ col }}]" type="checkbox"
                                                                    id="{{ file }}_{{ col }}_{{ n }}">
                                                                <label class="form-check-label"
                                                                    for="{{ file }}_{{ col }}_{{ n }}">{{ col }}</label>
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                {% else %}
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    {% for col in cols %}
                                                    <li>
                                                        <input class="form-check-input" name="selected_col3"
                                                            value="{{ file }}[{{ col }}]" type="checkbox"
                                                            id="{{ file }}_{{ col }}">
                                                        <label class="form-check-label" for="{{ file }}_{{ col }}">{{
                                                            col }}</label>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="dropdown text-center">
                                        <a class="btn btn-secondary dropdown-toggle mt-2" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Select Plot
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><input class="form-check-input" value="Scatter" type="radio"
                                                    name="plt_type3" id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Scatter
                                                </label>
                                            </li>
                                            <li><input class="form-check-input" value="line" type="radio"
                                                    name="plt_type3" id="flexRadioDefault2">
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    Line
                                                </label>
                                            </li>
                                            <li><input class="form-check-input" value="Histogram" type="radio"
                                                    name="plt_type3" id="flexRadioDefault3">
                                                <label class="form-check-label" for="flexRadioDefault3">
                                                    Histogram
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-center mt-2">
                                    <button class="btn btn-secondary" type="submit">Visualize</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p id="load3" style="display:none;">Loading....Please Wait.</p>
                                    <div class="graph mt-2">
                                        <div id="fig3-container">
                                            {% if fig3 %}
                                            {{ fig3 | safe }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- ------------------------------Plot 4----------------------------------------------- -->

            <div class="col-sm-6">
                <div class="row">
                    <form id="form4" class="pltform" method="POST">
                        <div id="cont4">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="dropdown text-center">
                                        <a class="btn btn-secondary dropdown-toggle mt-2" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Select Parameters
                                        </a>
                                        <ul id="strtlst2" class="dropdown-menu">
                                            {% for file, cols in cl.items() %}
                                            <li>
                                                <a class="dropdown-item" href="#">{{ file }}</a>
                                                {% if uv and file in uv %}
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    {% for n in uv[file] %}
                                                    <li>
                                                        <a class="dropdown-item" href="#">{{ n }}</a>
                                                        <ul class="dropdown-menu dropdown-submenu">
                                                            {% for col in cols %}
                                                            <li>
                                                                <input class="form-check-input" name="unv4"
                                                                    value="{{ file }}{{n}}[{{ col }}]" type="checkbox"
                                                                    id="{{ file }}_{{ col }}_{{ n }}">
                                                                <label class="form-check-label"
                                                                    for="{{ file }}_{{ col }}_{{ n }}">{{ col }}</label>
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                {% else %}
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    {% for col in cols %}
                                                    <li>
                                                        <input class="form-check-input" name="selected_col4"
                                                            value="{{ file }}[{{ col }}]" type="checkbox"
                                                            id="{{ file }}_{{ col }}">
                                                        <label class="form-check-label" for="{{ file }}_{{ col }}">{{
                                                            col }}</label>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="dropdown text-center">
                                        <a class="btn btn-secondary dropdown-toggle mt-2" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Select Plot
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><input class="form-check-input" value="Scatter" type="radio"
                                                    name="plt_type4" id="flexRadioDefault4">
                                                <label class="form-check-label" for="flexRadioDefault4">
                                                    Scatter
                                                </label>
                                            </li>
                                            <li><input class="form-check-input" value="line" type="radio"
                                                    name="plt_type4" id="flexRadioDefault5">
                                                <label class="form-check-label" for="flexRadioDefault5">
                                                    Line
                                                </label>
                                            </li>
                                            <li><input class="form-check-input" value="Histogram" type="radio"
                                                    name="plt_type4" id="flexRadioDefault6">
                                                <label class="form-check-label" for="flexRadioDefault6">
                                                    Histogram
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-center mt-2">
                                    <button class="btn btn-secondary" type="submit">Visualize</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p id="load4" style="display:none;">Loading....Please Wait.</p>
                                    <div class="graph mt-2">
                                        <div id="fig4-container">
                                            {% if fig4 %}
                                            {{ fig4 | safe }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br><br><br><br><br>
        </div>
        <!-- </div> -->

        <!-- </div> -->
        <script type="text/javascript" src="static/js/script.js"></script>
</body>

</html>